@import "styles/_system.sass"
.post
	@include badge()
	padding: 20px
	display: flex
	.post__info
		float: left
		margin-right: 30px
		
		h3
			font-weight: 700
			color: $accent
			font-size: 20px
			margin-bottom: 12px
		.post__authors
			display: flex
			align-items: center
			column-gap: 10px

			font-weight: 700
			font-size: 16px
			img
				border-radius: 10px
		.post__categories
			margin-bottom: 12px
			color: $greyTxt
			font-weight: 400
		.post__tags
			display: flex
			gap: 5px
			margin-bottom: 12px
		p
			font-size: 16px
		
	.post__img
		width: 250px
		height: 100%
		float: right
		img
			height: 100%
.posts
	display: grid
	row-gap: 30px