@import 'vars'
.field
	label
		display: grid
		row-gap: 10px
		color: $color
		font-size: 24px
		font-weight: 700
		.field__input
			background: $background
			padding: 16px 20px
			border: $grey 1px solid
			border-radius: 8px
			&::spelling-error
				text-decoration: none
				background: rgb(255 0 0 / 0.25 )
