@import "./reset"
@import "./_system"

body
	font-family: $fontRegular
	color: $color
	letter-spacing: .8px
	background: $globalBackground

	max-width: 100vw
	height: 100%


.badge
	@include badge()
.not-found
	// padding: 20px
	font-size: 50px
	color: $color
	display: flex
	justify-content: center
	align-items: center
	height: 100%
	width: 100%
	h1
		font-weight: 500
		span
			font-weight: 700
.posts
	display: grid
	row-gap: 30px
.container
	width: min(1170px,95%)
	margin: 0 auto
	height: 100%
.content
	flex-grow: 1


.main
	&.main-profile
		width: $mainWidthWithSidebar
		float: left
	&.main-with-sidebar:not(.main-profile)
		width: $mainWidthWithoutSidebar
		float: left
	&.main-without-sidebar
		width: 100% !important

.wrapper
	display: flex
	flex-direction: column
	min-height: 100vh
.content
	margin-top: 70px
.d-none
	display: none

::selection
	background: $accent
	color: $background
::-webkit-scrollbar
	width: 9px
	background: $background
::-webkit-scrollbar-thumb
	background: $accent
	width: 9px
@media screen and (width <= $md)
	main
		width: 100% !important
		