@import "vars"
.btn
	font-weight: 500
	letter-spacing: 1px
	line-height: 19.12px
	transition: transform .4s, background-color .4s, color .4s
	&:hover
		transform: scale(0.95)
	&.btn__pagination
		width: 40px
		height: 40px
		border: 1px solid $accent
		border-radius: 8px
		&.btn__disabled
			background: $accent !important
			color: white
	&.btn__black
		color: $background
		background: $color
	&.btn__grey
		background: $grey
		color: $color
		font-weight: 700
	&.btn__accent
		background: $accent
		border: $accent solid 1px
		color: $background
		&:hover
			background: none
			color: $accent
		&:active
			background: $darkAccent
			color: $background

	&.btn__big
		height: 60px
		width: 100%
		font-size: 20px
	&.btn__medium
		height: 40px
		border-radius: 5px
		padding: 10px 28px

		font-size: 14px
	&.btn__small
		height: 30px
		width: 200px

		