@import "src/styles/_system.sass"
.btn
	height: 40px
	background: $color
	border-radius: 5px
	padding: 10px 28px

	color: $background
	font-weight: 500
	font-size: 14px
	letter-spacing: 1px
	line-height: 19.12px

	transition: transform .4s
	&:hover
		transform: scale(0.95)