@import "styles/_system"
.sidebar
	width: 370px 
	float: right
	background: $background
	padding: 20px
	
	@include badge()
	h2
		font-size: 24px
		font-weight: 700
		line-height: 32.78px
		margin-bottom: 20px
		&:not(.frst)
			margin-top: 20px	
	.sidebar__posts
		hr
			margin: 16px 0
			background: $grey
			height: 1px
		.sidebar__post
			.sidebar__post-author
				img
					height: 32px
					width: 32px
					border-radius: 5px
				font-size: 15px
				display: flex
				align-items: center
				column-gap: 12px
				margin-bottom: 16px
			h4
				font-size: 16px
				font-weight: 700
				line-height: 16px
				margin-bottom: 8px
			p
				text-align: left
				font-size: 12px
	.sidebar__categories
		.sidebar__tags
			display: flex
			flex-wrap: wrap
			gap: 10px
			
	.sidebar__authors
		.sidebar__authors-list
			display: grid
			row-gap: 16px
			.sidebar__author
				display: flex
				justify-content: space-between
				align-items: center
				.sidebar__author-info
					display: flex
					gap: 0 10px
					font-size: 16px
					font-weight: 700
					line-height: 22px
					max-width: 200px
				.sidebar__author-sub
					display: flex
					align-items: center
					gap: 0
	.sidebar__subscribes
		display: grid
		row-gap: 20px
@media screen and (width <= $md)
	.sidebar
		display: none