@import 'vars'
.auth-form__wrapper
	display: flex
	position: relative
	width: 100%
	justify-content: center
	.auth-form
		@include badge()
		padding: 40px
		margin: 0 auto
		display: grid
		row-gap: 20px
		width: 570px
		h1
			font-size: 40px
			color: $color
			font-weight: 700
			text-align: center
		button
			font-size: 20px
			height: 60px